#myDIV {
    overflow: auto;
    height: 800px;
  }
  
  #content {
    height: 6000px;
    width: 100%;
    background-color: coral;
}
#box{
    position: absolute;
    left:0px;
    top:0px;
    width:300px;
    height:100px;
    background:blue;
}