body{
  background-color: #edecec;
}

@media (min-width: 768px) {
  .navbar-brand.abs
      {
          position: absolute;
          width: 100%;
          left: 0;
          text-align: center;
      }
  }

.no-padding{
  padding-left: 0px;
  padding-right: 0px;
}

.logo {
  width: 102px;
  max-height: 60px;
  margin: 8px 0;
}

.center{
  margin: auto;
  width: 60%;
  padding: 10px;
}
.imgresp{
  max-width: 100%;
  height: auto;
}
.textcenter{
  text-align: center;
}
.redtext{
  color: #da4553;
}

/*header*/
.header{
  background: white;
}
.vl {
  border-left: 0.5px solid #555;
  height: 10px;
}
.searchForm {
  margin-bottom: 0;
}

.elementForm {
  position: relative;
  display: inline-block;
  margin-bottom: 16px;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.icon {
  padding-top: 13px;
  color:rgb(100, 95, 95) !important;
  min-width: 70px;
  text-align: center !important;
  font-size: 15px !important;
}

.iconRight{
  color:#00b1ff !important;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  min-width: 40px;
  margin-top: 15px;
  text-align: center;
}

.no-padright {
  padding-right: 0;
}

.searchForm.inactive .form-control {
  border-color: #00bcff;
}

.searchForm .form-control {
  border: 2px solid #ccc;
  padding-left: 32px;
  padding-right: 30px;
  z-index: 2;
  position: relative;
  background: none;
  border-radius: 0;
  height: 42px;
}

.searchForm .elementForm>i {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 8px;
  margin: auto;
  height: 18px;
  font-size: 1.2em;
  color: #00bcff;
  z-index: 1;
}

.btnheader {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #aeaeae;
  color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  height: 42px;
}

.btnheader2 {
  background-color: #fff;
  border: none;
  color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  height: 42px;
}

.social{
  padding-top: 25px;
  margin-left: -20px;
}

.social i{
  font-size: 16px;
}

.social li a{
  display: inline-block;
  padding: 0 2px;
  color: #555;
}

.social li {
  float: left;
}


.noteBox {
  background: #fff;
  border: 1px solid #ccc;
}



.row-same-height {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.contentNewSlider{
  padding:21px 25px;color:#fff;position:relative;z-index:12
}
[class^="ctg-"].contentNewSlider .noteCtgTitle,[class*=" ctg-"] .contentNewSlider .noteCtgTitle,.contentNewSlider .noteCtgTitle span
{color:#fff;
  display:inline-block
}

.titleNewSlider{
  color:#fff;text-transform:uppercase;
  font-size:1.125em;
  font-family:'latobold',sans-serif;
  line-height:1.125em;
  padding-bottom:8px;
  margin-bottom:8px;position:relative
}

.titleNewSlider:after{
  bottom:0;left:0;position:absolute;
  content:"";
  width:56%;
  height:3px;
  background:#fff
}

.introNewSlider{
  margin-bottom:12px;
  display:block;
  display:-webkit-box;
  height:63px;
  font-size:14px;
  line-height:1.133em;
  -webkit-line-clamp:4;
  -webkit-box-orient:vertical;
  overflow:hidden;
  text-overflow:ellipsis
}
.subTitleNewSlider{
  font-family:'latobold',sans-serif;
  font-size:1.125em;
  line-height:1.333em
}


.bgSlider{
  background:#fcc23f
}


.ctg-3.newSlider i{
  color:#29a2cc
}

.ctg-4.newSlider{
  background:#ac92ed
}
.ctg-4.newSlider i{color:#967bdc}
.ctg-5.newSlider{background:#ec88c0}
.ctg-5.newSlider i{color:#d870ad}
.ctg-6.newSlider{background:#2c2c2c}
.ctg-6.newSlider i{bottom:12px;top:inherit;font-size:4.5em;border-radius:50%;border:3px solid #fff;color:#ffd902}
.ctg-6.newSlider .titleNewSlider:after{background:#ffd902}
.ctg-6.newSlider .noteCtgTitle,.ctg-6.newSlider .noteCtgTitle span{color:#ffd902}

.card {
  margin-top: 15px;
}

.noteBoxHeader {
  overflow: hidden;
  max-height: 214px;
  min-height: 75px;
  position: relative;
}


.ctg-5 .noteBoxDate {
  background-color: #da4553;
}

.noteBoxHeader .noteBoxDate {
  position: absolute;
  z-index: 3;
  color: #fff;
  font-size: .772em;
  left: 15px;
  bottom: 15px;
  display: block;
  padding: 6px 10px;
}

.noteBoxHeader i {
  position: absolute;
  z-index: 3;
  color: #fff;
  font-size: 1.5em;
  left: 8px;
  top: 8px;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'ciudadGuru';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.icon {
  color: white;
  font-size: 10px;
  position: absolute;
  top: 0%;
  left: 0%;
  text-align: center;
}
.triangle-top-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 80px 80px 0 0;
  border-color: #da4553 transparent transparent transparent;
}
.triangle-top-left-2 {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 90px 90px 0 0;
  border-color: #A52A2A transparent transparent transparent;
}

.ctg-5 .noteCtgTitle {
  color: #d870ad;
}

.noteCtgTitle span {
  font-weight: normal;
  letter-spacing: 1px;
  color: #bebebe;
  display: inline-block;
  text-transform: none;
}

.noteBoxContent {
  padding: 15px;
  position: relative;
}

.noteBoxTitle {
  font-family: 'latobold',sans-serif;
  font-size: 1.125em;
  color: #000;
  line-height: .99em;
  position: relative;
  display: block;
  padding-bottom: 12px;
}

.ctg-5 .noteBoxTitle:after {
  background: #d870ad;
}

.noteBoxTitle:after {
  bottom: 0;
  left: 0;
  position: absolute;
  content: "";
  width: 56%;
  height: 3px;
  background: #bebebe;
}

.noteBoxTitle span {
  height: 34px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.btn-default {
  padding: 6px 12px;
  font-family: 'latobold',sans-serif;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  background: none;
  display: inline-block;
  transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  cursor: pointer;
  font-size: .938em;
}

.fig {
  background: #2d2d2d;
  border: 1px solid #ccc;
}

.card {
  margin-top: 15px;
}

.contentFig {
  padding: 15px;
  color: #fff;
}

.figName {
  font-family: 'lato',sans-serif;
  font-size: 1.125em;
  margin-bottom: 6px;
  font-weight: 500;
  text-transform: uppercase;
}

.starsR {
  background: url(https://guru2.pastatic.com/Content/images/stars/stars2d.png);
  background-size: contain;
  height: 16px;
  width: 78px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.contentFig .btn-default {
  border-color: #fff;
  color: #fff;
}

.valueR {
  background: #aeaeae;
  height: 16px;
  width: 78px;
  position: relative;
}
.dataFig>* {
  color: #00b1ff;
}



.titleSection {
  font-size: 1.6em;
  text-align: center;
  color: #43475b;
  font-family: 'latolight',sans-serif;
}

.titleSection strong, .titleSection b {
  font-family: 'lato',sans-serif;
}

.titleSection span {
  color: #00bcff;
  font-family: 'lato',sans-serif;
}

.areaSelector {
  position: relative;
  display: inline-block;
  padding: 5px 25px 5px 5px;
  background: #fff;
  cursor: pointer;
}

b, strong {
  font-weight: bold;
}

.areaRecommend .dropdown {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.dropdown-menu {
  max-height: 300px;
  overflow: auto;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}






.ctg-2 .infoContent {
  background: #fcc23f;
}

.infoContent {
  position: relative;
}


.col-full-height {
  height: 100%;
  vertical-align: middle;
}

.text-right {
  text-align: right;
}


.slickNews .slick-next {
  right: 22px;
}

.slickNews:hover .slick-prev, .slickNews:hover .slick-next {
  opacity: .75;
}

.arrowBg{
  background: rgba(0,0,0,.2);
  padding: 6px;
}

.left span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #edecec;
}
.right span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 95%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #edecec;
}


.categoryMenu {
  border-top: 4px solid #f2f2e9;
  border-bottom: 1px solid #00bcff;
  font-family: 'lato',sans-serif;
  width: 100%;
  background: #fff;
  overflow: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.categoryMenu ul {
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
}

.categoryMenu .active {
  border-bottom: 3px solid #00bcff;
}

.categoryMenu ul li {
  display: inline-block;
  margin: 0 6px;
  border-bottom: 3px solid #fff;
}
.categoryMenu a{
  color: #000;
}

ul, li {
  list-style-type: none;
  margin: 0;
}

.plan{
  color: #d870ad !important;
}

/*paginator*/
.paginationCount {
  margin: 20px 0;
  font-size: 1.2em;
  font-family: 'latolight',sans-serif;
}
.columnCenter {
  float: none;
  display: inline-block;
  margin-left: -3px;
  vertical-align: middle;
}
.pager-results {
  margin-top: 20px;
}

.generalPage .pagination>li a {
  display: inline-block;
  min-width: 31px;
  position: relative;
  text-align: center;
  color: #555;
  border-radius: 50%;
  padding: 4px;
  margin: 2px;
  border-color: #ccc;
}
.rowblue{
  width: 100%;
  background: #9ad8e3;
  height: 21px;
  
}
.rowbluedark{
  width: 100%;
  background: #66c8d3;
  height: 22px;
}
.footer{
  background: #fff;
  
}
.footer1{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  margin: auto;
}
.line{
  width: 100%;
  background: #9d9d9d;
  height: 1px;
  margin: auto;
}

.footer1 li a {
  font-size: .938em;
  color: #9d9d9d;
  padding: 10px 20px 12px;
  border-radius: 34px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .4s;
  -ms-transition: all .5s;
  display: inline-block;
}

.footer1 li {
    margin: 0 8px;
    display: inline-block;
    background: #fff;
}

.footer1 li.active>a {
  background: #fff;
  border: solid 1px #b2b2b2;
}

.footer2{
  padding-top: 20px;
  background: #fff;
  width: 80%;
  margin: auto;
}

.footer2 li a{
  display: inline-block;
  font-family: 'source_sans_pro',sans-serif;
  font-size: .875em;
  font-weight: 400;
  color: #9d9d9d;
  padding: 2px 0;
}

.panel-title {
  text-transform: uppercase;
  font-family: lato;
  font-weight: bold;
  font-size: .875em;
  color: #000;
  position: relative;
}

.panel-heading {
  padding: 0 15px;
  background-color: #fff!important;
  border: none;
}
.panel{
  border: none !important;
}
.guruabout{
  font-size: 12px;
}
